version: '3.8'

services:
  maintainerr-overlay-helperr:
    image: gsariev/maintainerr-overlay-helperr:latest
    environment:
      PLEX_URL: "http://192.168.0.139:32400"
      PLEX_TOKEN: "PLEX TOKEN"
      MAINTAINERR_URL: "http://192.168.0.139:6246"
      IMAGE_SAVE_PATH: "/images"
      ORIGINAL_IMAGE_PATH: "/images/originals"
      TEMP_IMAGE_PATH: "/images/temp"

      # Change the values here to customize the overlay
      FONT_PATH: "/fonts/AvenirNextLTPro-Bold.ttf"
      FONT_COLOR: "#ffffff"
      BACK_COLOR: "#B20710"
      FONT_SIZE: "55"
      PADDING: "15"
      BACK_RADIUS: "30"
      HORIZONTAL_OFFSET: "30"
      HORIZONTAL_ALIGN: "center"
      VERTICAL_OFFSET: "40"
      VERTICAL_ALIGN: "top"

      DATE_FORMAT: "MMM d"    # Set your desired date format between "d MMM" or "MMM d"
      OVERLAY_TEXT: "Leaving"    # Set your desired text to display before removal date
  
      ENABLE_DAY_SUFFIX: true    # Enable or disable date suffix (i.e. th from November 14th). Mainly for french people
      ENABLE_UPPERCASE: false    # Use uppercase or lowercase for date format

      LANGUAGE: "en-US"    # Used for date format and month abbreviation language. You can change this as needed (e.g., "fr-FR" for French), will default to en-US if not provided.
      
      CRON_SCHEDULE: "0 */8 * * *" #Configure the schedule CRON should execute the script; default is every 8 hours
      RUN_ON_CREATION: "false" #Set to true if you want the script to execute once on initial boot; will use CRON after or set to false to use only CRON

      PLEX_COLLECTION_ORDER: "asc" #Choose between ascending (asc) and descending (desc)
      PROCESS_COLLECTIONS: "Leaving Soon" #Name of the colletion to be processed. You can specify multiple seperated by , "Leaving Soon, Not Watched, Bad Movies"
      
    volumes:
      - /mnt/user/appdata/maintainerr/images:/images
      - /mnt/user/appdata/maintainerr/fonts:/fonts
