version: '3.8'

services:
  maintainerr-overlay-helperr:
    image: gsariev/maintainerr-overlay-helperr:latest
    environment:
      PLEX_URL: "http://192.168.0.139:32400"
      PLEX_TOKEN: "PLEX TOKEN"
      MAINTAINERR_URL: "http://192.168.0.139:6246"
      IMAGE_SAVE_PATH: "/images"
      ORIGINAL_IMAGE_PATH: "/images/originals"
      TEMP_IMAGE_PATH: "/images/temp"

      RUN_ON_CREATION: "true" #Enable to run the overlay logic upon booting the container; disable to wait for the CRON run
      REAPPLY_OVERLAY: "false" #Enable to force the re-processing of processed overlays
      RESET_OVERLAY: "false" #Enable to reset all overlays and use the original media posters
      USE_DAYS: "true" #Enable to use days left; disable to use calculated date

      # Change the values here to customize the overlay
      FONT_PATH: "/fonts/AvenirNextLTPro-Bold.ttf"
      FONT_COLOR: "#ffffff"
      BACK_COLOR: "#B20710"
      FONT_SIZE: "3.2"
      PADDING: "1.2"
      BACK_RADIUS: "0"
      HORIZONTAL_OFFSET: ""
      HORIZONTAL_ALIGN: "center"
      VERTICAL_OFFSET: "3"
      VERTICAL_ALIGN: "top"

      DATE_FORMAT: "MMM d"     # Set your desired date format between "d MMM" or "MMM d"
      OVERLAY_TEXT: "Leaving"    # Set your desired text to display before removal date

      #Customize messages for when using days
      TEXT_TODAY: "last chance to watch"
      TEXT_DAY: "gone tomorrow"
      TEXT_DAYS: "Gone in {0} days"

      DATE_FORMAT: "MMM d"    # Set your desired date format between "d MMM" or "MMM d"
      OVERLAY_TEXT: "Leaving"    # Set your desired text to display before removal date
  
      ENABLE_DAY_SUFFIX: true    # Enable or disable date suffix (i.e. th from November 14th). Mainly for french people
      ENABLE_UPPERCASE: false    # Use uppercase or lowercase for date format

      LANGUAGE: "en-US"    # Used for date format and month abbreviation language. You can change this as needed (e.g., "fr-FR" for French), will default to en-US if not provided.

      CRON_SCHEDULE: "0 */8 * * *" #Configure the schedule CRON should execute the script; default is          every 8 hours
      RUN_ON_CREATION: "false" #Set to true if you want the script to execute once on initial boot; will        use CRON after or set to false to use only CRON

      REAPPLY_OVERLAY: "false" #Will reapply overlays every time the script runs if set to true

      PLEX_COLLECTION_ORDER: "asc" #Choose between ascending (asc) and descending (desc)
      REORDER_COLLECTIONS: "Leaving Soon" #Name of the colletion to be reodered. You can specify  multiple seperated by , "Leaving Soon, Not Watched, Bad Movies"
      
    volumes:
      - /mnt/user/appdata/maintainerr/images:/images
      - /mnt/user/appdata/maintainerr/fonts:/fonts
      - /mnt/user/appdata/Plex-Media-Server/Library/Application Support/Plex Media Server/Metadata:/plexmeta #path to plex metadata folder
      - /mnt/user/appdata/Plex-Media-Server/Library/Application Support/Plex Media Server/Plug-in Support/Databases:/plex-db #path to plex database folder
